.pa6-wrapper {
    max-width: 100% !important;
    padding: 0 !important;
}

.pa6 {
    > div {
        display: flex;
    }
    > div > div:nth-child(2) {
        width: 50%;
        padding-left: 2em;
        > h3 {
            font-weight: bolder;
            font-size: 70px;
        }
        > p {
            padding-left: 4em;
        }
    }
    .col-2 {
        padding-left: 2rem;

        h2 {
            font-weight: 900;
            font-size: 70px;
            line-height: 70px;
            letter-spacing: 0;
            color: #000;
            text-transform: uppercase;
        }

        p {
            padding-left: 4em;
        }
    }
}
